@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";
*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  position: relative;
}

html {
  font-size: .520835vw;
  line-height: 1.2;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: Montserrat, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: unset;
}

a, a:hover {
  text-decoration: none;
}

input {
  outline: none;
}

button, input, a, textarea {
  font: inherit;
  outline: none;
}

button:focus, input:focus, a:focus, textarea:focus, button:active, input:active, a:active, textarea:active {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.for-mobile {
  display: none;
}

.active {
  display: block !important;
}

.btn {
  cursor: pointer;
  color: inherit;
  font: inherit;
  text-align: inherit;
  background-color: inherit;
  border: none;
  padding: 0;
}

[class*="__container"] {
  max-width: 163.4rem;
  margin: 0 auto;
}

@media (max-width: 48em) {
  html {
    -webkit-text-size-adjust: none;
    font-size: 1.5625vw;
  }

  .for-mobile {
    display: block;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  [class*="__container"] {
    width: 100%;
    padding: 0 3rem;
  }
}

.header__upmenu {
  color: #fff;
  background-color: #242734;
  padding: 1.2rem 0;
  font-size: 1.8rem;
}

.header__upmenu [class*="__container"] {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__city {
  align-items: center;
  gap: .7rem;
  display: flex;
}

.header__city img {
  height: 2.4rem;
  width: 1.7rem;
}

.header__city a {
  color: #fff;
  font-size: 1.8rem;
}

.header__logo {
  cursor: pointer;
}

.header__logo img {
  width: 13.3rem;
  height: 2.7rem;
}

.header__burger {
  width: 2.5rem;
  height: 1.8rem;
}

.header__downmenu {
  padding: 2rem 0;
}

.header__downmenu [class*="__container"] {
  height: 100%;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  gap: 3rem;
  display: grid;
}

@media (max-width: 48em) {
  .header__downmenu [class*="__container"] {
    justify-content: space-between;
    display: flex;
  }
}

.header__catalog img {
  width: 2rem;
  height: 2rem;
  display: none;
}

.header__catalog button {
  color: #fff;
  background-color: #de3162;
  border-radius: .9rem;
  gap: .7rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  display: flex;
}

.header__catalog button:hover {
  background-color: #d32f5d;
  transition: all .2s;
}

@media (max-width: 48em) {
  .header__catalog {
    display: none;
  }
}

.header__search {
  width: 85.1rem;
  height: 5.5rem;
  background-color: #de3162;
  border-radius: .9rem;
  align-items: center;
  display: flex;
}

.header__search input {
  width: 79.4rem;
  height: 5.1rem;
  text-indent: 1.4rem;
  border: none;
  border-radius: .7rem;
  margin: .2rem 0 .2rem .2rem;
  font-size: 1.5rem;
}

.header__search img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-left: 1.3rem;
}

@media (max-width: 48em) {
  .header__search {
    display: none;
  }
}

.header__search_mobile {
  position: relative;
}

.header__search_mobile input {
  width: 100%;
  height: 5.4rem;
  text-indent: 4rem;
  background-color: #f6f6f6;
  border: 1px solid #de3162;
  border-radius: .9rem;
  font-size: 1.5rem;
}

.header__search_mobile .loop {
  z-index: 1000;
  position: absolute;
  top: 1.9rem;
  left: 1.5rem;
}

.header__search_mobile .loop svg {
  width: 1.7rem;
  height: 1.7rem;
}

.header__buttons {
  gap: 1.5rem;
  display: flex;
}

.header__buttons img {
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 48em) {
  .header__buttons img {
    width: 2rem;
    height: 2rem;
  }
}

.header__buttons button {
  color: #a0949b;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  display: flex;
}

@media (max-width: 48em) {
  .header__buttons button span {
    display: none;
  }
}

.header__buttons button:hover span {
  color: #000;
  transition: all .2s;
}

@media (max-width: 48em) {
  .header__buttons {
    gap: .5rem;
  }
}

.catalog {
  width: 100%;
  z-index: 1000;
  background-color: #f8f8f8;
  display: none;
  position: absolute;
  box-shadow: 0 4px 4px #00000040;
}

@media (max-width: 48em) {
  .catalog {
    visibility: hidden;
  }
}

.catalog__container {
  padding: 2rem 0;
  display: flex;
}

.catalog__category {
  cursor: pointer;
  color: #242734;
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.catalog__list_active {
  display: flex !important;
}

.catalog__category:hover {
  color: #de3162;
  background-color: #fff;
  border-radius: .4rem;
  transition: all .2s;
}

.catalog__list-block {
  padding: 3rem 0;
}

.catalog__list {
  flex-wrap: wrap;
  gap: 5rem;
  margin-left: 2rem;
  display: none;
}

.catalog__list-column h3 {
  padding-top: 1rem;
  font-weight: bold;
}

.catalog__list-column a {
  color: #242734;
  font-size: 1.4rem;
}

.catalog__list-column a:hover {
  color: #de3162;
  transition: all .2s;
}

.catalog__list-column li {
  margin-top: 1.5rem;
}

.footer {
  margin-top: 18rem;
}

.footer__main {
  justify-content: space-between;
  padding-top: 5rem;
  display: flex;
}

@media (max-width: 48em) {
  .footer__main {
    flex-direction: column;
    gap: 6rem;
  }
}

.footer__logo img {
  width: 31.6rem;
  height: 9.2rem;
}

.footer__column {
  max-width: 36rem;
}

.footer__contacts {
  margin-top: 5.7rem;
}

.footer__contacts img {
  width: 2rem;
  height: 2.1rem;
}

.footer__contacts span {
  font-size: 1.8rem;
  font-weight: bold;
}

.footer__phone {
  gap: .8rem;
  display: flex;
}

.footer__email {
  gap: .8rem;
  margin-top: 2rem;
  display: flex;
}

.footer__social {
  margin-top: 7.1rem;
}

.footer__social p {
  margin-bottom: 2.1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.footer__social img {
  width: 2.5rem;
  height: 2.5rem;
}

.footer__social span {
  color: #7e838c;
  font-size: 1.6rem;
}

.footer__social_networks {
  gap: 2.5rem;
  display: flex;
}

.footer__social_networks svg {
  width: 2.5rem;
  height: 2.5rem;
}

.footer__social_vk {
  align-items: center;
  gap: .9rem;
  display: flex;
}

.footer__social_vk:hover path {
  fill: #242734;
  transition: all .2s;
}

.footer__social_vk:hover span {
  color: #242734;
  transition: all .2s;
}

.footer__social_tg {
  align-items: center;
  gap: .9rem;
  display: flex;
}

.footer__social_tg:hover path {
  fill: #242734;
  transition: all .2s;
}

.footer__social_tg:hover span {
  color: #242734;
  transition: all .2s;
}

.footer__title {
  margin-bottom: 2.7rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.footer__list li {
  margin-bottom: 2rem;
}

.footer__list a {
  color: #7e838c;
  font-size: 1.6rem;
}

.footer__list a:hover {
  color: #242734;
}

.footer__copyright {
  border-top: 1px solid #d9dae1cc;
  justify-content: space-between;
  margin-top: 5.7rem;
  padding: 5rem 0;
  display: flex;
}

@media (max-width: 48em) {
  .footer__copyright {
    flex-direction: column;
    gap: 3rem;
  }
}

.footer__copyright a {
  color: #7e838c;
  font-size: 1.6rem;
}

.footer__copyright a:hover {
  color: #242734;
}

.banner {
  cursor: pointer;
  margin-top: 3.5rem;
}

.banner__img img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.products__title {
  color: #242734;
  margin: 3.5rem 0;
  font-size: 2.4rem;
  font-weight: bold;
}

.products__list {
  flex-wrap: wrap;
  gap: 3rem;
  display: flex;
}

@media (max-width: 48em) {
  .products__list {
    justify-content: center;
  }
}

.products [class*="__container"] {
  padding: 0;
}

.card:hover .card__favourite {
  display: flex;
}

.card {
  width: max-content;
  padding: 2.2rem 2rem;
}

.card__img {
  position: relative;
}

.card__img img {
  width: 25.2rem;
  height: 33.6rem;
  object-fit: cover;
}

.card__favourite {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: #eaeaf6;
  border-radius: .4rem;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 3rem;
  right: 1.5rem;
}

.card__favourite svg {
  height: 2rem;
  width: 2rem;
}

.card__favourite path {
  fill: #0000;
  stroke: #242734;
}

.card__discount {
  color: #de3162;
  background-color: #fdeef9;
  border-radius: .8rem;
  padding: .5rem .7rem;
  font-size: 1.4rem;
  font-weight: bold;
  display: none;
  position: absolute;
  bottom: 0;
  left: 8px;
}

.card__advertisement {
  color: #fff;
  background-color: #de3162;
  border-radius: .8rem;
  padding: .7em .9em;
  font-size: 1.4rem;
  font-weight: bold;
  display: none;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.card__body {
  flex-direction: column;
  gap: .6rem;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  display: flex;
}

.card__price {
  align-items: center;
  gap: .8rem;
  display: flex;
}

.card__current-price {
  color: #242734;
  font-size: 1.8rem;
  font-weight: bold;
}

.card__old-price {
  color: gray;
  font-weight: bold;
  text-decoration: line-through;
  display: none;
}

.card__title {
  width: 25.3rem;
  color: #242734;
}

.card__rating {
  gap: .5rem;
  display: flex;
}

.card__rating svg {
  width: 9.6rem;
  height: 1.6rem;
}

.card__rating span {
  color: #a0949b;
}

.card__btn {
  margin-top: 1.2rem;
}

.card__btn button {
  color: #fff;
  background-color: #de3162;
  border-radius: .9rem;
  padding: .9rem 2.2rem;
  font-weight: bold;
}

.card__btn button:hover {
  background-color: #d32f5d;
  transition: all .2s;
}

.brands__title {
  color: #242734;
  margin: 3.5rem 0 2rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.brands__title a {
  cursor: pointer;
  color: #de3162;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.brands__title a:hover {
  text-decoration: underline;
}

.brands [class*="__container"] {
  padding: 0;
}

.brands__list {
  gap: 3rem;
  margin-top: 3.5rem;
  display: flex;
}

.brands__item img {
  cursor: pointer;
  width: 23.5rem;
  height: 13.2rem;
}

.category__list {
  gap: 1.5rem;
  display: flex;
}

.category button {
  color: #242734;
  border: 1px solid #242734;
  border-radius: 1.6rem;
  padding: .8rem 2.4rem;
  font-size: 1.4rem;
  transition: all .2s;
}

.category button:hover {
  color: #de3162;
  border: 1px solid #de3162;
  transition: all .2s;
}

.search {
  margin-top: 2.4rem;
}

.search__title {
  color: #242734;
  font-size: 2.4rem;
  font-weight: bold;
}

.search__content {
  gap: 4rem;
  margin-top: 6rem;
  display: flex;
}

.sidefilter {
  width: 35.5rem;
}

@media (max-width: 48em) {
  .sidefilter {
    display: none;
  }
}

.sidefilter__header {
  justify-content: space-between;
  display: flex;
}

.sidefilter__header .sidefilter__title {
  margin-bottom: 0;
  font-size: 2.2rem;
}

.sidefilter__title {
  color: #242734;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.sidefilter__reset {
  cursor: pointer;
  align-items: center;
  gap: 1.4rem;
  display: flex;
}

.sidefilter__reset span {
  color: #7e838c;
  font-size: 1.6rem;
  font-weight: bold;
}

.sidefilter__reset svg {
  width: 1.4rem;
  height: 1.4rem;
}

.sidefilter__reset path {
  fill: #7e838c;
}

.sidefilter__filters {
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  display: flex;
}

.sidefilter__filter-item {
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.6rem;
  display: flex;
}

.sidefilter__filter-item label {
  color: #242734;
  font-size: 1.5rem;
}

.sidefilter__filter-item input[type="radio"], .sidefilter__filter-item input[type="checkbox"] {
  width: 2.2rem;
  height: 2.2rem;
}

.colorpick {
  gap: .5rem;
  display: flex;
}

.colorpick__color {
  width: 3.4rem;
  height: 3.4rem;
  border: .3rem solid #ece9e9;
  border-radius: 50%;
}

.colorpick__color:hover {
  outline: .2rem solid #de3162;
}

.colorpick__black {
  background-color: #000;
}

.colorpick__red {
  background-color: red;
}

.colorpick__white {
  background-color: #fff;
}

.assortment {
  width: 100%;
}

.assortment__sort {
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  display: flex;
}

.assortment__sort p {
  color: #7e838c;
  font-size: 1.6rem;
}

.assortment__sort select {
  color: #242734;
  border: .2rem solid #a0949b;
  border-radius: .6rem;
  outline: none;
  padding: .6rem 1rem .6rem .6rem;
  font-size: 1.5rem;
}

.assortment__sort select:hover, .assortment__sort select:focus {
  border: .2rem solid #de3162;
  transition: all .2s;
}

.cost-range {
  width: 100%;
  margin-bottom: 1.6rem;
  display: flex;
}

.cost-range input {
  height: 3.6rem;
  text-indent: 1rem;
  width: 100%;
  border: .1rem solid #7e838c;
  font-size: 1.6rem;
  position: relative;
}

.cost-range input:focus {
  z-index: 5;
  border: none;
  outline: .2rem solid #de3162;
}

.cost-range span {
  color: #7e838c;
  font-size: 1.4rem;
}

.cost-range__start {
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.cost-range__start input {
  border-radius: .7rem 0 0 .7rem;
}

.cost-range__end {
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.cost-range__end input {
  border-left: none;
  border-radius: 0 .7rem .7rem 0;
}

/*# sourceMappingURL=index.b10d73a7.css.map */
