.banner {
    margin-top: 3.5rem;
    cursor: pointer;
    &__img {
        img {
            border-radius: 12px;
            width: 100%;
            object-fit: cover;
        }
        
    }
    &__swiper {
        width: 100%;
    height: 30rem;
    }
    &__swiper-wrapper {
        overflow: hidden;
    display: flex;
    }
    
}
