main.main
    .auth
        .auth__container 
            .auth__body
                .auth__img
                    img(src="../img/icons/ID.png", alt="WILDCHERRY ID") 
                .auth__title 
                    h2 Войти или создать профиль
                .auth__form.form
                    .form__item
                        input.form__input(type="text", required)
                        label.form__label Логин
                    .form__item
                        input.form__input(type="password", required)
                        label.form__label Пароль
                    .form__item 
                        button.btn.form__button Создать профиль