// Font size
$base-font-size: 1.8rem;
$menu-font-size: 2.3rem;
$title-font-size: 6.2rem;
$title-font-size-mobile: 3.2rem;
$post-title-font-size: 2.5rem;
$subtitle-font-size: 2.2rem;
$description-font-size: 2.1rem;
$description-font-size-moblie: 1.6rem;

// Colors
$base-color: #DE3162;
$black: #242734;
$gray: #A0949B;
$white: #ffffff;