section.banner
    .banner__container
        .banner__swiper
            .banner__swiper-wrapper
                .banner__swiper-slide 
                    .banner__img
                        img(src="../img/banners/banner_1.jpg?as=webp", alt="Banner")
                .banner__swiper-slide 
                    .banner__img
                        img(src="../img/banners/banner_1.jpg?as=webp", alt="Banner")
                        
                        
