section.banner
    .banner__container
        .banner__swiper.swiper
            .swiper-wrapper
                .swiper-slide 
                    .banner__img
                        img(src="../img/banners/banner_1.jpg?as=webp", alt="Banner")
                .swiper-slide 
                    .banner__img
                        img(src="../img/banners/banner_1.jpg?as=webp", alt="Banner")
                        
                        
