footer.footer
    .footer__container 
        .footer__main 
            .footer__column 
                .footer__logo 
                    img(src="../img/Full logo.png", alt="Logo")
                .footer__contacts
                    .footer__phone 
                        img(src="../img/icons/Phone.svg", alt="Phone")
                        span +7 (695) 556-36-54
                    .footer__email 
                        img(src="../img/icons/email.svg", alt="Email")
                        span office@wildcherry.ru
                .footer__social 
                    p Мы в сети
                    .footer__social_networks
                        a(href="#").footer__social_vk 
                            img(src="../img/icons/vk.svg", alt="VK")
                            span ВКонтакте
                        a(href="#").footer__social_tg 
                            img(src="../img/icons/telegram.svg", alt="Telegram") 
                            span Telegram
            .footer__column 
                .footer__title Покупателям
                ul.footer__list 
                    li
                        a(href="#") Как сделать заказ
                    li
                        a(href="#") Способы оплаты
                    li
                        a(href="#") Доставка
                    li
                        a(href="#") Возврат товара
                    li
                        a(href="#") Возврат денежных средств
                    li
                        a(href="#") Правила продажи
                    li
                        a(href="#") Правила пользования торговой площадкой
                    li
                        a(href="#") Вопросы и ответы
            .footer__column 
                .footer__title Партнёрам
                ul.footer__list 
                    li
                        a(href="#") Продавайте на WildCherry
                    li
                        a(href="#") Перевозчикам
                    li
                        a(href="#") Партнерский пункт выдачи
                    li
                        a(href="#") Франшизный пункт выдачи                   
            .footer__column 
                .footer__title Компания
                ul.footer__list 
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Реквизиты
                    li
                        a(href="#") Пресс-центр
                    li
                        a(href="#") Контакты 
        .footer__copyright
            a(href="#") Copyright © 2022
            a(href="#") Политика конфиденциальности
            a(href="#") Обработка персональной информации
            a(href="#") Разработано Nicanev
