header.header
        .header__content
            .header__upmenu
                .container 
                    .header__city
                        img(src="../img/icons/Location.svg", alt="City icon")
                        a(href="#") Астрахань 
                    .header__phone +7 (495) 506-36-50
            .header__downmenu
                .container 
                    .header__logo 
                        img(src="../img/Logo.svg", alt="Logo")
                    .header__catalog
                        button.btn   
                            span
                                img(src="../img/icons/Catalog.svg", alt="Catalog")
                            span Каталог
                    .header__search 
                        input(type="text" placeholder="Искать на WildCherry..")
                        img(src="../img/icons/Loop.svg", alt="Search")
                    .header__buttons 
                        button.btn 
                            img(src="../img/icons/Delivery.svg", alt="Delivery")
                        button.btn  
                            img(src="../img/icons/Like.svg", alt="Favourite")
                        button.btn  
                            img(src="../img/icons/Cart.svg", alt="Cart")
                        button.btn  
                            img(src="../img/icons/User.svg", alt="Profile")
                           
